{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
        <div class="card shadow">
            <div class="card-body p-5">
                <h2 class="text-dark mb-2">Bienvenido</h2>
                <p class="text-muted mb-4">introducción a la aplicación</p>
                <div class="alert bg-info" role="alert">
                    <h5 class="alert-heading">tema</h5>
                    <p class="mb-0">En el examen tendremos que modificar algunos aspectos de nuestro proyecto, desde el lugar donde se guardan los datos hasta la interfaz de usuario con esto buscamos terminar de entender nuestro código y demostrar que conocemos nuestro código.</p>
                </div>
                <div class="alert bg-info" role="alert">
                    <h5 class="alert-heading">EXAMEN</h5>
                    <p class="mb-0">En el examen tendremos que modificar algunos aspectos de nuestro proyecto, desde el lugar donde se guardan los datos hasta la interfaz de usuario con esto buscamos terminar de entender nuestro código y demostrar que conocemos nuestro código.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}